<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zsj.demo_v1.mapper.RechargePackageMapper">
    <resultMap id="BaseResultMap" type="org.zsj.demo_v1.entity.RechargePackage">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="quota" property="quota" />
        <result column="validity" property="validity" />
        <result column="popular" property="popular" />
        <result column="features" property="features" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, price, quota, validity, popular, features
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM recharge_package
        ORDER BY price ASC
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List" />
        FROM recharge_package
        WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="org.zsj.demo_v1.entity.RechargePackage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO recharge_package (
            name, price, quota, validity, popular, features
        )
        VALUES (
            #{name}, #{price}, #{quota}, #{validity}, #{popular}, #{features}
        )
    </insert>
    
    <update id="update" parameterType="org.zsj.demo_v1.entity.RechargePackage">
        UPDATE recharge_package
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="quota != null">quota = #{quota},</if>
            <if test="validity != null">validity = #{validity},</if>
            <if test="popular != null">popular = #{popular},</if>
            <if test="features != null">features = #{features},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="deleteById" parameterType="java.lang.Long">
        DELETE FROM recharge_package
        WHERE id = #{id}
    </update>
</mapper> 